/*STARTER CODE*/

/*
We have started some of the selectors for you.
For others we have provided hints on what the selectors should be.
There are some missing selectors.

Make sure to learn what the starter code does!!
*/

/*STARTER CODE - DO NOT CHANGE*/
main{
  margin-bottom: 100px;
}

caption{
  margin:5px 0px;
}

tr{
  -webkit-transition: background-color 0.5s ease;
  transition: background-color 0.5s ease;
}

/*END STARTER CODE*/

body{
  color: #000000;
  font-size: 16px;
  font-family: "Andika", sans-serif;
  margin: 1.2em;
  background-image: url("../images/pigeon-background.JPEG");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-color: #DDDDDDt;
    /*Req 1*/
}

h1{
  font-size: 2em;
  color: #c12258;
  text-align: center;
  line-height: 2;
  /*Req 2*/
}

p{
  padding-top: 15px;
  /*Req 3*/
}

a{
  font-size: 16px;
  color: #c12258;
  text-decoration: wavy underline;
  /*Req 4*/
}

/*Req 5*/
*:focus {
  border: 3px dashed #417243;
}

/*Add selector and rule here*/


/*Req 6a*/
th, td{
  text-align: center;
  border-top: 2px #000000 solid;
  padding: 10px;
}

/*Req 6b*/
.colhead{
  color: #FFFFFF;
  min-width: 125px;
  padding: 10px;
  text-align: center;
  vertical-align: center;
  background-color: #7e0820;
  text-transform: uppercase;
}
/*Req 6c*/
.rowhead{
  border-right: 2px #000000 solid;
  vertical-align: middle;
}

/*Req 6d*/
table tr:nth-child(odd) {
  background: transparent;
}

/*Req 6e*/
table tr:nth-child(even) {
  background-color: #D1D1D1;
}
/*Req 6f*/
table tr:hover {
  background-color: rgba(126, 8, 32, 0.25);
}

/*Req 7*/
table{
    border: 2px solid #000000;
    margin: 0 auto;
    border-radius: 10px;
}

.colhead:first-child {
  border-radius: 10px 0 0 0;
}

.colhead:last-child {
  border-radius: 0 10px 0 0;
}

tr:last-child .rowhead {
  border-radius: 0 0 0 10px;
}

tr:last-child td:last-child {
  border-radius: 0 0 10px 0;
}


/*Add selectors and rules here*/


/*Req 8*/
footer{
  min-height: 75px;
  width:100%;
  background:#000000;
  text-align:center;
  color: #FFFFFF;
  bottom: 0;
  position: fixed;
}
